{% extends "match/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Search{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="{% static 'user.js' %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<h1>検索画面</h1>
<div class="search-form">
<table>
    <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
        <li>{{ form }}</li>
        <li><tr><td></td><td><input type="submit" value="検索"></td></tr></li>
    </form>
</table>
</div>
<h5>{{count}}個の募集が見つかりました。</h5>
<p>ページネーション機能、並び替え機能（人気順・新着順）、複数検索機能</p>
<table>
{% for item in data %}
    <div class="recruit">
    <div class="recruit-title"><a href="{% url 'other_recruit' item.id %}">{{ item.recruit_title }}</a></div>
    <p>募集日：{{ item.pub_date|date:"Y-m-j "}}</p>
    <p>カテゴリー：{{ item.category }}</p>
    <br>
    </div>
{% endfor %}
</table>
{% endblock %}

