{% extends "match/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "パスワードリセット" %}{% endblock %}

{% block content %}

    <h1>{% trans "パスワードリセット" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "パスワードをお忘れですか？下にメールアドレスを入力してください。リセットするためのメールが送信されます。" %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'パスワードリセット' %}" />
    </form>

    <p>{% blocktrans %}パスワードのリセットで問題が発生した場合は、お問い合わせください{% endblocktrans %}</p>
{% endblock %}
